@import "../variables.scss";

.base{
    border-radius: 12px;
    font-weight: 600;
    font-size: 14px;
    padding: 0 12px;
    width: max-content;
    min-width: 120px;
    height: 40px;
    display: grid;
    place-items: center;
  }
  
  .primary{
    background-color: var(--color-primary-blue);
    color: var(--text-white);
    border: 1px solid var(--color-primary-blue);
  }
  
  .primary:hover{
    background-color: var(--highlight-button-background);
    cursor: pointer;
  }
  
  .secondary{
    background-color: transparent ;
    color: var(--color-primary-blue);
    border: 1px solid var(--color-primary-blue);
  }
  
  .secondary:hover{
    background-color: var(--button-secondary-hover-background);
    cursor: pointer;
  }
  
  .mini{
    font-size: 10px;
    min-width: 80px;
    height: 26px;
    border-radius: 8px;
  }
  
  